.serviceCard {
  background-color: greenyellow;
  max-width: 280px;
  padding: 15px;
  border-style: solid;
  border-radius: 10px;
  border-width: 0;
  margin: 10px;
  background: linear-gradient(
    to bottom,
    rgba(66, 66, 66, 0.7),
    rgba(12, 12, 12, 0.85)
  );
  cursor: default;
}
.serviceImg {
  border-style: solid;
  border-radius: 10px;
}
.serviceName {
  color: #95f3c4;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.serviceDesc {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #ffffff;
  font-size: 11px;
}
