.project-background {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  background: #002222;

  animation-name: fadeIn;
  animation-duration: 1s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bottomNavbarSubScreenText {
  position: fixed;
  top: 83vh;
  font-size: 3.5rem;
  color: white;
  font-family: "Inter", sans-serif;

  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 1));
  -webkit-filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 1));
  -moz-filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 1));
  -ms-filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 1));
  -o-filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 1));

  font-weight: 900;
  z-index: 5;
}
.projectsBar {
  position: fixed;
  bottom: 2vh;
  height: 14vh;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 700px) {
  .projectsBar {
    height: 12vh;
  }
}
.projectCard {
  width: 90%;
  height: 70%;
  margin: 2%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
  align-items: stretch;
  padding: 5px;
}
@media (max-width: 950px) {
  .projectCard {
    margin-top: 4%;
    height: 70%;
  }
}
.projectCardImg {
  height: 100%;
  width: 60%;
  border-radius: 20px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(255, 255, 255, 0);
}

.projectCardDisc {
  height: 100%;
  width: 38%;

  filter: drop-shadow(0px 0px 5px #000000);
  -webkit-filter: drop-shadow(0px 0px 5px #000000);
  -moz-filter: drop-shadow(0px 0px 5px #000000);
  -ms-filter: drop-shadow(0px 0px 5px #000000);
  -o-filter: drop-shadow(0px 0px 5px #000000);

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 0.5%;
  margin-right: 0.5%;
  overflow-y: auto;
}
@media (max-width: 900px) {
  .projectCardImg {
    width: 100%;
    height: 60vw;
    margin-bottom: 2px;
  }
  .projectCardDisc {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
  }
}
.project-backCarosalButton {
  position: absolute;
  top: 52%;
  left: -10%;

  filter: drop-shadow(0px 0px 3px #ecba05);
  -webkit-filter: drop-shadow(0px 0px 3px #ecba05);
  -moz-filter: drop-shadow(0px 0px 3px #ecba05);
  -ms-filter: drop-shadow(0px 0px 3px #ecba05);
  -o-filter: drop-shadow(0px 0px 3px #ecba05);

  z-index: 5;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: rgba(32, 32, 32, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #ecba05;
  -webkit-tap-highlight-color: transparent;
}

.project-fowardCarosalButton {
  position: absolute;
  top: 52%;
  right: -10%;

  filter: drop-shadow(0px 0px 3px #ecba05);
  -webkit-filter: drop-shadow(0px 0px 3px #ecba05);
  -moz-filter: drop-shadow(0px 0px 3px #ecba05);
  -ms-filter: drop-shadow(0px 0px 3px #ecba05);
  -o-filter: drop-shadow(0px 0px 3px #ecba05);

  z-index: 5;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: rgba(32, 32, 32, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #ecba05;
}

.project-backToHome {
  position: absolute;
  top: 0vh;
  left: -10%;

  filter: drop-shadow(0px 0px 3px #0fd346);
  -webkit-filter: drop-shadow(0px 0px 3px #0fd346);
  -moz-filter: drop-shadow(0px 0px 3px #0fd346);
  -ms-filter: drop-shadow(0px 0px 3px #0fd346);
  -o-filter: drop-shadow(0px 0px 3px #0fd346);

  z-index: 5;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: rgba(32, 32, 32, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  cursor: pointer;
  border: 2px solid #0fd346;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 700px) {
  .project-backToHome {
    left: -22%;
    height: 35px;
    width: 35px;
  }
  .project-fowardCarosalButton {
    right: -22%;
    height: 35px;
    width: 35px;
  }
  .project-backCarosalButton {
    left: -22%;
    height: 35px;
    width: 35px;
  }
}
